*{
  margin: 0px;
  padding: 0px;
}
/* Navbar */
.navbar-flex{
  display: flex;
  height: 80px;
  width: 100%;
  /* background-color: red; */
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 0%; */
  padding-top: 30px;
}

.list-grey-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding-right: 100px;
  list-style: none;
  color: #b6b3ad;
  font-size: 20px;
}
.btn{
  height: 40px;
  width: 120px;
  background-color: transparent;
  border: none;
  border: 2px solid rgb(233, 175, 29);
  color: rgb(233, 175, 29);
  border-radius: 10px;
}
.list-grey-flex li:hover{
  color: white;
}

.logo{
  padding-left: 70px;
}
/* Hero Section */

.content-flex{
  margin-top: 0%;
  width: 100%;
  /* height: 1000000%; */
  height: 350px;
  /* background-color: red; */
  /* display: fle;*/
}

.content-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:100px;
}

.container{
  background-color: #2B2922;
}

.left-white{
  text-align: left;
  color: white;
  font-size: 65px;
  /* width: 50%; */
}
.right-dark-grey{
  /* background-color: #fff; */
  height: 40%;
  /* width: 50%; */
  text-align: left;
  color: #aba9a3;
  font-size: 20px;
}

.img-box {
  /* height: calc(100% - 430px); */
  height: 300px;
  width: 100%;
  margin-top: -10px;
  background: url(assets/img.jpg);
  background-position: center;
  background-size: cover;
}
/* 
.img-box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
} */